---
---

@import "{{ site.theme }}";

img {
    border: 5px solid #ccc;
    border-radius: 5px;
    max-height: 350px;
}

header img {
	border-radius: 50%;
}

section a:not(nav a) {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #ccc;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  min-width: 100px;
  text-align: center;
}

section a:hover:not(nav a) {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  cursor: pointer;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}