---
---

@import "{{ site.theme }}";

.wrapper {
  width: 960px;
}

section {
	width: 650px;
}

header {
	width: 220px;
}

header img {
	border-radius: 50%
}

img:not(header img) {
    border: 5px solid #ccc;
    border-radius: 5px;
    max-height: 350px;
}

section a:not(nav a) {
  display: inline-block;
  background-color: #fff;
  border: 2px solid #ccc;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  min-width: 100px;
  text-align: center;
}

section a:hover:not(nav a) {
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  cursor: pointer;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  text-transform: lowercase;
  padding: 10px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: normal;
}

.social-links {
  text-align: left; /* Align the social links in the center */
}

.social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-size: cover;
}

.instagram {
  background-image: url('images/instagram_logo.png');
}

.twitter {
  background-image: url('images/twitter_logo.png');
}

.linkedin {
  background-image: url('images/linkedin_logo.png');
}

